// New colors
$secondary: rgb(46, 44, 51);
$medium: #739EFF;
$highlight: #f0f0f0;
$accent: #CC8547;

// Overriding variables
$primary: #6f777a;

$navbar-background-color: $secondary;

@import "../../../node_modules/bulma/sass/utilities/_all";

@import "../../../node_modules/bulma/sass/base/_all";
@import "../../../node_modules/bulma/sass/elements/_all";
@import "../../../node_modules/bulma/sass/form/_all";
@import "../../../node_modules/bulma/sass/components/_all";
@import "../../../node_modules/bulma/sass/grid/_all";
@import "../../../node_modules/bulma/sass/layout/_all";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Karla|Playfair+Display&display=swap');

body {
  background-color: $highlight;
}

.title {
  font-size: 3rem;
  font-weight: normal;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
}

.blog-body {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: 30px;
  &::first-letter {
    float: left;
    font-size: 6rem;
    margin: 1.8rem 1rem 1rem 0;
  }
}

// Helpers
.f-serif {
  font-family: 'Playfair Display', serif !important;
}

.f-sans {
  font-family: 'Karla', sans-serif !important;
}
