---
layout: layouts/post.njk
title: About Me
tags:
  - nav
navtitle: About
templateClass: tmpl-post
---

my name is tim, and i am so excited to go back to this style of website.

I started making websites in 1994, coding with Notepad and making my own graphics in Paint. Over the years I graduated to other technologies, but always missed the oldschool web dev.

This site was built on 11ty, using blog posts ported over from the blogs I've maintained throughout the years. These include my old LiveJournal posts, website posts through custom CMSs and other types. 

The site deploys via Github actions, building the site and all posts on the fly. It then deploys the site to Neocities. 

I'm still building sites for fun and professionally, all these years later. I will still never be a consistent blogger.