---
layout: layouts/archive.njk
tags:
  - nav
navtitle: Archive
permalink: /archive/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html
pagination:
  data: collections.posts
  size: 20
  alias: posts
  reverse: true
---
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-light font-pixel">Archive</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-columns">
      {% set postslist = posts | reverse %}
      {% include "postslist.njk" %}
    </div>
  </div>
  <div class="row">
  <nav aria-label="Page navigation example" class="w-100">
  <ul class="pagination justify-content-center">
    <li class="page-item{% if not pagination.previousPageHref %} disabled{% endif %}"><a href="{% if pagination.previousPageHref %}{{ pagination.previousPageHref }}{% endif %}" class="page-link" {% if not pagination.previousPageHref %} tabindex="-1"{% endif %}>Previous</a></li>
    {%- for pageEntry in pagination.hrefs %}
      <li class="page-item"><a class="page-link" href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a></li>
    {%- endfor %}
    <li class="page-item">{% if pagination.nextPageHref %}<a href="{{ pagination.nextPageHref }}" class="page-link">Next</a>{% else %}Next{% endif %}</li>
  </ul>
</nav>
  </div>
</div>
