---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="jumbotron jumbotron-fluid homepage position-relative">
  <div class="jumbobg position-absolute"></div>
  <div class="container">
    <h1 class="sr-only">timwasson</h1>
    <div class="logo position-relative">
      {% include "img/logo.svg" %}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <a href="archive" class="btn btn-link old-school mt-3 fs-3">Go to the blog archive</a>
  </div>
</div>
