<nav>
    
    <a class="font-pixel text-dark logo-bg text-center d-block mb-3" href="{{ '/' | url }}">
        <marquee>{{ metadata.title }}</marquee>
    </a>
    
    <ul class="list-unstyled">
      {%- for nav in collections.nav | reverse -%}
        <li class="mb-1">
            <a class="btn old-school w-100 fs-1.5{% if nav.url == page.url %} active{% endif %}" href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
        </li>
    {%- endfor -%}
    </ul>
</nav>